.Services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 80px;
    margin: 80px 170px;
}
.services-title{
    position: relative;
}

.services-title h1{
    padding: 0px 30px;
    font-size: 90px;
    font-weight: 600;
   line-height: 1px;
}
.services-img{
  position: absolute;
  top: -70px;
  right: -70px;
  width: 90px;
  height: auto;
  mix-blend-mode: lighten;
  pointer-events: none;
}
.services-title img{
    position:absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.services-format {
    width: 320px;          
    height: 420px;         
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    border-radius: 12px;
    border: 2px solid white;
    background-color: #000;
    transition: 0.4s;
    cursor: pointer;
}
.services-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}
.services-format h3{
    font-size: 35px;
    font-weight: 600;
}
.services-format h2{
    font-size: 35px;
    font-weight: 600;
    background: linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: #d4d4d4;
    font-size: 22px;
    line-height: 40px;
    max-width: 600px;
}
.services-format:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028,#582300);
    transform: scale(1.05);
    transition: 0.4s;
}
.Services-readmore {
    display: flex;
    flex-direction: row; /* Keeps items side-by-side */
    align-items: center; /* Vertically centers the arrow with the text */
    gap: 35px;           
    width: fit-content;
}

.Services-readmore p {
    margin: 0;
    font-size: 22px;
    line-height: 1;
    white-space: nowrap; /* THIS FIXES THE 2-LINE ISSUE: Forces "Read More" to stay on one line */
}
@media(max-width:768px){
    .Services{
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }
    .services-title h1{
        padding: 100;
        font-size: 40px;
        align-items: center;
    }
    .services-title img{
        width: 120px;
        margin-right: -20px;
    }
    .services-format{
        gap: 10px;
        padding: 10px;
    }
    .services-format h2{
        font-size: 25px;
    }
    .services-format p{
        font-size: 20px;
        line-height: 30px;
        max-width: 200px;
    }
    .services-readmore img{
       width: 15px;
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
