.hero {
  text-align: center;
}
.profile-img {
  width: 160px;        
  height: 150px;       
  border-radius: 50%;  
  object-fit: cover;   
  margin: 30px auto;   
  display: block;
  border: 3px solid black;
}
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.hero h1 span{
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  background-clip: text;
  font-size:80px;
  font-weight:600; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-connect{
  padding: 12px 20px;
  border-radius: 40px;
  font-size: 17px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  cursor: pointer;
}
.hero-resume{
  padding: 12px 20px;
  border-radius: 40px;
   font-size: 17px;
  border: 2px solid #FFF;
  cursor: pointer;
}
.hero-connect:hover{
  border: 2px solid white;
}
.hero-resume:hover{
  border-color: #B415FF;
}

.hero-action {
  padding: 30px;
}

p {
  font-size: 20px;
  font-family: 700;
  line-height: 2;
}
.hero h1{
  font-size: 40px;
  line-height: 2;
}





@media(max-width:768px){
  .hero img{
    margin-top: 20px;
    width: 150px;
  }
  .hero h1{
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
  }
  .hero p{
    width: 90%;
    font-size: 15px;
    line-height: 35px;
    margin: 20px 0px;
  }
  .hero-action{
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect{
    padding: 15px 20px;
    border-radius: 40px;
  }
  .hero-resume{
    padding: 15px 40px;
    border-radius: 50px;
  }
}