.myproject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 100px;
}
.myproject-title {
    position: relative;
}
.myproject-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.myproject-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.myproject-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.myproject-container img{
    box-sizing: border-box;
    width: 400px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}
.myproject-container img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}
.myproject-showmore{
    display: flex;
    gap: 15px;
    border-radius: 80px;
    border: 2px solid white;
    padding: 20px 40px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 80px;
    cursor: pointer;
}
.myproject-showmore:hover{
    gap: 30px;
    transition: 0.6s;
}
@media(max-width:768px){
    .myproject{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .myproject-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .myproject-title img{
        width: 130px;
        margin-right: -20px;
    }
    .myproject-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .myproject-container img{
        width: 100%;
        height: 100%;
    }
    .myproject-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}
