.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    border: 0;
    right: 0;
    z-index: -1;
}
.Contact-section{
    display: flex;
    gap: 150px;
}
.Contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Contact-left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Contact-left p{
    max-width: 550px;
    color: #D8D8D8;
    font-size: 22px;
    line-height: 35px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.Contact-right label{
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
}
.Contact-right input{
    border: none;
    width: 500px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 20px;
}
.Contact-right textarea{
    width: 500px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 20px;
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg,#DF8908 -5.09%, #B415FF 106.23%);
    font-size: 20px;
    padding: 18px 35px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scaleX(1.1);
    transition: 0.3s;
}
@media(max-width:768px){
    .Contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .contact-title h1{
        padding: 0;
        font-size: 50px;
        font-family: 600;
    }
    .contact-title img{
        width: 130px;
        margin-right: -20px;
    }
    .Contact-section{
        flex-direction: column;
    }
    .Contact-left h1{
        font-size: 54px;
    }
    .Contact-left p{
        font-size: 18px;
    }
    .contact-detail{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }
    .Contact-right label{
        font-size: 20px;
    }
    .Contact-right input{
        width: 100%;
        font-size: 20px;
    }
    .Contact-right textarea{
        width: 80%;
        font-size: 20px;
    }
    .contact-submit{
        font-size: 20px;
        padding: 10px 30px;
    }
    
}